<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pitiza GJM - Cadastrar</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../../css/estilo.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <link rel="icon" href="../../img/icc.png" type="image/x-icon" />
  <link rel="shortcut icon" href="../../img/icc.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row topo">
      <div class="col-md-2 logo">
        <a href="index.html"><img src="../../img/logo.jpg" alt="Falha no carregamento"></a>
      </div>
      <div class="col-md-2">
      <h2>Pitza GJM</h2>
      </div>
      <div class="col-md-2 contato">
        <h2>Contato:</h2>
      </div>
      <div class="col-md-2 d">
      <strong>(21) <ins>3333-4444</ins>
      <p>(21) <ins>99999-9999</ins></p></strong>
      </div>
      <div class="col-md-4">
      <strong>Rua das pizzas, numero 7, Campo Grande.</strong>
      <p>Rio de janeiro, Brasil.</p>
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row menu">
        <div class="col-md-4">
          <ul>
            <li><a href="cadastrar.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row corpo">
        <div class="col-md-12">
          <div class="col-md-3"><br>
        <h4>Cadastro de usuario</h4>
        <p>Faça o seu cadastro para efetuar seus pedidos através do site. Lembrando que também é possivel efetuar o seu pedido pelo telefone (21) 3333-4444.</p>
          </div>
          <div class="col-md-4 cadastrar">
              <form method="post" action="">
            <h4>Dados da conta</h4>
            <span class="glyphicons glyphicons-user"></span>
			<div class="input-prepend">
				<span class="add-on">
          <span class="glyphicon glyphicon-user"></span>
        </span>
				<input type="text" name="usuario" placeholder="Nome de usuario:" />
			</div>

      <div class="input-prepend">
				<span class="add-on"></span>
        <span class="glyphicon glyphicon-asterisk"></span>
				<input type="password" name="senha" placeholder="Senha:" />
			</div>

      <div class="input-prepend">
				<span class="add-on"><span class="glyphicon glyphicon-envelope"></span></span>
				<input type="email" name="email" placeholder="Email:" />
			</div>
      <br>
            <h4>Dados Pessoais</h4>
      <div class="input-prepend">
				<span class="add-on"><i class="glyphicon glyphicon-triangle-right"></i></span>
				<input type="text" name="nome" placeholder="Nome:" />
			</div>

			<div class="input-prepend">
				<span class="add-on"><i class="glyphicon glyphicon-triangle-right"></i></span>
				<input type="text" name="telefone" placeholder="Telefone:" />
			</div>

      <div class="input-prepend">
				<span class="add-on"><i class="glyphicon glyphicon-triangle-right"></i></span>
				<input type="text" name="Endereço" placeholder="Endereço:" />
			</div>

      <div class="input-prepend">
				<span class="add-on"><i class="glyphicon glyphicon-triangle-right"></i></span>
				<input type="text" name="Numero" placeholder="Numero:" />
			</div>

      <div class="input-prepend">
				<span class="add-on"><i class="glyphicon glyphicon-triangle-right"></i></span>
				<input type="text" name="CEP" placeholder="CEP:" />
			</div>
			<br/>
      <div class="input-prepend">
        <span class="add-on"><i class="glyphicon glyphicon-triangle-right"></i></span>
			<input type="submit" name="cadastrar" class="btn btn-primary" value="Cadastrar dados">
    </div>
		</form>
  </div><!-- fim do form -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row rodape">
        <div class="col-md-3">
          <h5>Contato</h5>
          <p class="ctt">contato@gjm.com</p>
          <p></p>
        </div>
        <div class="col-md-3">
          <h5>SAC</h5>
          <a href="ouvidoria.html">Ouvidoria</a><br>
        </div>
        <div class="col-md-3">
          <h5>Sobre nós</h5>
          <a href="termos.html">Termos de uso</a><br>
          <a href="privacidade.html">Privacidade</a>
        </div>
        <div class="col-md-3">
          <h5>Redes sociais</h5>
          <a href="https://www.facebook.com/" target="_blank"><img src="../../img/fb_icon.png" alt="browse não suporta"></a>&nbsp&nbsp<a href="https://www.twitter.com/" target="_blank"><img src="../../img/tt_icon.png" alt="browse não suporta"></a>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 rodape-nota">
          <hr align="center" width="90%" size="1" color=red>
          <p>©2017 Pitza GJM Ltd. All Rights Reserved.</p>
        </div>
      </div>
      </div>
  </body>
</html>
