<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pitiza GJM - Ouvidoria</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../../css/estilo.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <link rel="icon" href="../../img/icc.png" type="image/x-icon" />
  <link rel="shortcut icon" href="../../img/icc.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row topo">
      <div class="col-md-2 logo">
        <a href="index.html"><img src="../../img/logo.jpg" alt="Falha no carregamento"></a>
      </div>
      <div class="col-md-2">
      <h2>Pitza GJM</h2>
      </div>
      <div class="col-md-2 contato">
        <h2>Contato:</h2>
      </div>
      <div class="col-md-2 d">
      <strong>(21) <ins>3333-4444</ins>
      <p>(21) <ins>99999-9999</ins></p></strong>
      </div>
      <div class="col-md-4">
      <strong>Rua das pizzas, numero 7, Campo Grande.</strong>
      <p>Rio de janeiro, Brasil.</p>
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row menu">
        <div class="col-md-4">
          <ul>
            <li><a href="cadastrar.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row corpo">
        <div class="col-md-12">
          <div class="col-md-2">
          <h4>Ouvidoria</h4>
          <p>Envie sua duvida, sugestão ou reclamação através deste formulário. Entraremos em contato via email caso necessário.</p>
          </div>
        <div class="col-md-8">
            <form name="ouvidoria" action="" method="post">
            <label class="escrito">Nome:</label><input id="ouvidoria" type="text" name="nome" maxlength="40"><br>
            <label class="escrito">Email:</label><input id="ouvidoria" type="email" name="email" maxlength="40" placeholder="email@email.com"><br>
            <label class="escrito">Telefone:</label><input type="text" name="telefone" maxlength="9"><br>
            <label class="escrito">Assunto:</label><input type="text" name="titulo" maxlength="20"><br>
            <label class="escrito">Mensagem:</label><textarea class="abc" name="message" rows="6" cols="40"  maxlength="200"></textarea><br>
          </br>
            <input type="submit" class="btn btn-primary k" value="Enviar">
            <input type="reset" class="btn btn-primary k" value="limpar"><br>
          </div>
          </form>
      </div>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row rodape">
        <div class="col-md-3">
          <h5>Contato</h5>
          <p class="ctt">contato@gjm.com</p>
          <p></p>
        </div>
        <div class="col-md-3">
          <h5>SAC</h5>
          <a href="ouvidoria.html">Ouvidoria</a><br>
        </div>
        <div class="col-md-3">
          <h5>Sobre nós</h5>
          <a href="termos.html">Termos de uso</a><br>
          <a href="privacidade.html">Privacidade</a>
        </div>
        <div class="col-md-3">
          <h5>Redes sociais</h5>
          <a href="https://www.facebook.com/" target="_blank"><img src="../../img/fb_icon.png" alt="browse não suporta"></a>&nbsp&nbsp<a href="https://www.twitter.com/" target="_blank"><img src="../../img/tt_icon.png" alt="browse não suporta"></a>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 rodape-nota">
          <hr align="center" width="90%" size="1" color=red>
          <p>©2017 Pitza GJM Ltd. All Rights Reserved.</p>
        </div>
      </div>
      </div>
  </body>
</html>
