<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pitiza GJM - Privacidade</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/estilo.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <link rel="icon" href="../../img/icc.png" type="image/x-icon" />
  <link rel="shortcut icon" href="../../img/icc.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row topo">
      <div class="col-md-2 logo">
        <a href="index.html"><img src="../../img/logo.jpg" alt="Falha no carregamento"></a>
      </div>
      <div class="col-md-2">
      <h2>Pitza GJM</h2>
      </div>
      <div class="col-md-2 contato">
        <h2>Contato:</h2>
      </div>
      <div class="col-md-2 d">
      <strong>(21) <ins>3333-4444</ins>
      <p>(21) <ins>99999-9999</ins></p></strong>
      </div>
      <div class="col-md-4">
      <strong>Rua das pizzas, numero 7, Campo Grande.</strong>
      <p>Rio de janeiro, Brasil.</p>
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row menu">
        <div class="col-md-4">
          <ul>
            <li><a href="cadastrar.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row corpo">
        <div class="col-md-12">
          <div class="main shell">
    <div class="institucional">
        <h1 class="inst-title">Quais s&atilde;o as pol&iacute;ticas de privacidade adotadas pelo pitzaGJM</h1>
        <div class="full">
            A sua privacidade &eacute; muito importante para o pitzaGJM. Dessa forma,
            desenvolvemos uma Pol&iacute;tica de Privacidade que disp&otilde;e sobre a
            maneira como n&oacute;s obtemos, usamos, divulgamos, transferimos e
            armazenamos suas informa&ccedil;&otilde;es. Por favor, verifique as nossas
            pr&aacute;ticas de privacidade e nos informe caso tenha quaisquer
            questionamentos. <br/> <br/> 1. Obten&ccedil;&atilde;o e Uso de Informa&ccedil;&otilde;es
            Pessoais <br/> 1.1 Informa&ccedil;&otilde;es pessoais s&atilde;o dados que podem ser
            usados para identificar individualmente ou entrar em contato com
            uma pessoa em espec&iacute;fico. <br/> 1.2 Voc&ecirc; poder&aacute; ser solicitado a
            fornecer suas informa&ccedil;&otilde;es pessoais a qualquer momento, enquanto
            estiver em contato com o pitzaGJM ou com uma empresa afiliada do
            pitzaGJM. O pitzaGJM e as suas afiliadas poder&atilde;o compartilhar essas
            informa&ccedil;&otilde;es pessoais e utiliz&aacute;-las de acordo com esta Pol&iacute;tica de
            Privacidade. O pitzaGJM e sua afiliadas poder&atilde;o, ainda, combinar essas
            informa&ccedil;&otilde;es pessoais com outras informa&ccedil;&otilde;es para fornecer e
            aperfei&ccedil;oar nossos produtos, servi&ccedil;os, conte&uacute;do e publicidade. <br/>
            <br/> 2. Quais informa&ccedil;&otilde;es pessoais obtemos <br/> 2.1 Quando
            voc&ecirc; se inscrever, atrav&eacute;s do nosso Servi&ccedil;o, para ser um usu&aacute;rio
            registrado do pitzaGJM, poderemos obter uma s&eacute;rie de informa&ccedil;&otilde;es,
            entre elas, seu nome, g&ecirc;nero, endere&ccedil;o eletr&ocirc;nico, endere&ccedil;o de
            correspond&ecirc;ncia, n&uacute;mero de telefone, prefer&ecirc;ncias de contato e
            informa&ccedil;&otilde;es de cart&atilde;o de cr&eacute;dito. <br/> 2.2 Se voc&ecirc; decidir se
            inscrever, atrav&eacute;s do nosso Servi&ccedil;o, se logando em um servi&ccedil;o de
            rede social, voc&ecirc; estar&aacute; utilizando as informa&ccedil;&otilde;es pessoais que j&aacute;
            forneceu ao servi&ccedil;o de rede social, para ser um usu&aacute;rio registrado
            pitzaGJM. As informa&ccedil;&otilde;es que poderemos obter, nesse caso, dependem das
            suas configura&ccedil;&otilde;es de privacidade junto ao servi&ccedil;o de rede social.
            Por exemplo, ao utilizar o Facebook para se inscrever, voc&ecirc; estar&aacute;
            permitindo que o pitzaGJM acesse as informa&ccedil;&otilde;es pessoais em sua conta
            do Facebook. <br/> <br/> 3. Como usamos suas informa&ccedil;&otilde;es
            pessoais <br/> 3.1 As informa&ccedil;&otilde;es pessoais que obtemos (em alguns
            casos, em conjunto com informa&ccedil;&otilde;es n&atilde;o-pessoais) nos permitem
            fornecer o Servi&ccedil;o a voc&ecirc;. Por exemplo: <br/> 3.1.1 Registro de
            Usu&aacute;rio. N&oacute;s criamos sua Conta de Usu&aacute;rio para seu uso do Servi&ccedil;o,
            baseado nas informa&ccedil;&otilde;es pessoais por voc&ecirc; fornecidas. <br/> 3.1.2
            Comunica&ccedil;&atilde;o. N&oacute;s usamos suas informa&ccedil;&otilde;es pessoais para enviar
            newsletters, bem como outros materiais promocionais e de marketing.
            Se voc&ecirc; n&atilde;o quiser mais fazer parte da nossa lista de mala direta,
            poder&aacute; optar por isso a qualquer momento alterando as suas
            prefer&ecirc;ncias. Periodicamente poderemos usar suas informa&ccedil;&otilde;es
            pessoais para enviar avisos importantes, como comunicados sobre
            compras, altera&ccedil;&otilde;es em prazos, condi&ccedil;&otilde;es e pol&iacute;ticas. Como estas
            informa&ccedil;&otilde;es s&atilde;o importantes para a sua intera&ccedil;&atilde;o com o iFood, voc&ecirc;
            n&atilde;o poder&aacute; optar por n&atilde;o receber esse tipo de comunica&ccedil;&atilde;o. <br/>
            3.1.3 Localizar amigos. Voc&ecirc; tem a op&ccedil;&atilde;o de importar seus contatos
            pessoais (incluindo as informa&ccedil;&otilde;es dispon&iacute;veis no servi&ccedil;o de rede
            social) para o Servi&ccedil;o, permitindo assim que voc&ecirc; localize seus
            amigos e seus amigos o localizem. <br/> 3.1.4 Promo&ccedil;&otilde;es. Se voc&ecirc;
            participar de um concurso, competi&ccedil;&atilde;o ou algum tipo de promo&ccedil;&atilde;o,
            poderemos usar as informa&ccedil;&otilde;es que voc&ecirc; fornecer para administrar
            esses programas. <br/> 3.1.5 Outros. N&oacute;s tamb&eacute;m usamos
            informa&ccedil;&otilde;es pessoais para nos ajudar a desenvolver, oferecer e
            melhorar os nossos produtos, servi&ccedil;os, conte&uacute;do e publicidade.
            Tamb&eacute;m poderemos usar informa&ccedil;&otilde;es pessoais para fins internos, tais
            como auditoria, an&aacute;lise de dados e pesquisas para aprimorar os
            produtos, servi&ccedil;os e comunica&ccedil;&otilde;es com os clientes. <br/> <br/>
            4. Sobre avalia&ccedil;&otilde;es de restaurantes e contatos com o iFood<br/>
            4.1 Podemos utilizar suas informa&ccedil;&otilde;es para contatar voc&ecirc; com
            rela&ccedil;&atilde;o a sua opini&atilde;o a respeito de nossos servi&ccedil;os e para
            ocasionalmente notificar voc&ecirc; a respeito de altera&ccedil;&otilde;es ou
            desenvolvimentos importantes no Website ou nos nossos servi&ccedil;os.<br/>
            4.2 Por favor note que o envio de coment&aacute;rios e feedback com
            rela&ccedil;&atilde;o ao Website e os servi&ccedil;os de delivery dos parceiros iFood
            nos autoriza a publicar e utilizar tais coment&aacute;rios e feedback no
            Website e em quaisquer materiais de marketing ou publicidade. Para
            tanto, apenas identificaremos voc&ecirc; atrav&eacute;s de seu nome de cadastro,
            foto do perfil do pitzaGJM e da sua cidade de resid&ecirc;ncia.<br/> 4.3
            Os feedbacks sobre os servi&ccedil;os de delivery dos RESTAURANTES
            parceiros tamb&eacute;m poder&atilde;o ser compartilhados com os restaurantes a
            fim de conhecimento e para eventuais contatos dos RESTAURANTES com
            o USU&Aacute;RIO com o intuito de solucionar um problema.<br/> 4.4 os
            coment&aacute;rios e notas atribu&iacute;dos pelo usu&aacute;rio na avalia&ccedil;&atilde;o de seu
            pedido devem conter &uacute;nica e exclusivamente a experi&ecirc;ncia junto ao
            Restaurante Delivery em quest&atilde;o.<br/> 4.5 Problemas, cr&iacute;ticas,
            sugest&otilde;es ou contatos com o pitzaGJM devem ser direcionados para os
            canais apropriados do Atendimento ao Cliente pitzaGJM.<br/> 4.6
            Quaisquer coment&aacute;rios ou feedback enviados pelo Website n&atilde;o devem:
            (a) conter qualquer material difamat&oacute;rio, obsceno ou ofensivo; (b)
            promover a viol&ecirc;ncia ou discrimina&ccedil;&atilde;o; (c) infringir os direitos de
            propriedade intelectual de terceiros; (d) quebrar qualquer direito
            legal de propriedade de um terceiro (assim como um dever de
            sigilo); (e) promover atividade ilegal ou invadir a privacidade de
            terceiros; (f) dar a impress&atilde;o de que s&atilde;o originados por n&oacute;s; (g)
            ser utilizados para se passar por outra pessoa ou representar
            incorretamente sua afilia&ccedil;&atilde;o a outra pessoa.<br/> 4.7 Os atos
            proibidos relacionados na Cl&aacute;usula 4.6 acima n&atilde;o s&atilde;o exaustivos.<br/>
            4.8 O pitzaGJM se reserva o direito de editar ou mesmo excluir os
            coment&aacute;rios e informa&ccedil;&otilde;es que violem os temos citados nas cl&aacute;usulas
            acima.<br/> <br/> 5. Obten&ccedil;&atilde;o e Uso de Informa&ccedil;&otilde;es N&atilde;o-Pessoais
            <br/> 5.1 N&oacute;s tamb&eacute;m obteremos informa&ccedil;&otilde;es n&atilde;o-pessoais, ou seja,
            dados que n&atilde;o permitem a associa&ccedil;&atilde;o direta com qualquer pessoa
            especificamente. N&oacute;s poderemos obter, usar, transferir e divulgar
            informa&ccedil;&otilde;es n&atilde;o-pessoais para qualquer finalidade. S&atilde;o exemplos de
            dados n&atilde;o-pessoais, n&atilde;o se limitando a esses, idade, preferencias
            individuais, idioma, CEP e c&oacute;digo de &aacute;rea. <br/> 5.2 N&oacute;s tamb&eacute;m
            poderemos obter informa&ccedil;&otilde;es sobre as atividades dos usu&aacute;rios no
            nosso site. Essas informa&ccedil;&otilde;es s&atilde;o agregadas e usadas para nos
            ajudar a fornecer informa&ccedil;&otilde;es abalizadas para os nossos clientes e
            entender quais partes de nosso site, produtos e servi&ccedil;os atraem
            mais interesse. Dados agregados s&atilde;o considerados informa&ccedil;&otilde;es
            n&atilde;o-pessoais para fins desta Pol&iacute;tica de Privacidade. <br/> 5.3
            Se combinarmos informa&ccedil;&otilde;es n&atilde;o-pessoais com informa&ccedil;&otilde;es pessoais, a
            informa&ccedil;&atilde;o combinada ser&aacute; tratada como informa&ccedil;&atilde;o pessoal enquanto
            essa informa&ccedil;&atilde;o permanecer combinada. <br/> <br/> 6. Cookies e
            Outras Tecnologias <br/> 6.1 O site do pitzaGJM, os servi&ccedil;os online,
            os aplicativos interativos, as mensagens de e-mail e o material
            publicit&aacute;rio poder&atilde;o usar &quot;cookies&quot; e outras tecnologias tais como
            pixel tags e web beacons. Essas tecnologias nos ajudam a entender
            melhor o comportamento do usu&aacute;rio, nos dizem quais partes de nosso
            site as pessoas visitaram e facilitam e medem a efic&aacute;cia da
            publicidade e das pesquisas na web. N&oacute;s tratamos as informa&ccedil;&otilde;es
            obtidas por meio de cookies e outras tecnologias como informa&ccedil;&otilde;es
            n&atilde;o-pessoais. Entretanto, na medida em que o endere&ccedil;o de IP
            (Internet Protocol) ou identificadores semelhantes sejam
            considerados informa&ccedil;&otilde;es pessoais pela lei local, n&oacute;s tamb&eacute;m
            trataremos esses identificadores como informa&ccedil;&atilde;o pessoal. Da mesma
            forma, na medida em que a informa&ccedil;&atilde;o n&atilde;o-pessoal seja combinada com
            informa&ccedil;&atilde;o pessoal, n&oacute;s tratamos a informa&ccedil;&atilde;o combinada como
            informa&ccedil;&atilde;o pessoal para os fins desta Pol&iacute;tica de Privacidade. <br/>
            6.2 O pitzaGJM e os seus parceiros tamb&eacute;m usam cookies e outras
            tecnologias para relembrarem informa&ccedil;&otilde;es pessoais quando voc&ecirc; usa o
            site, servi&ccedil;os online e aplicativos. A nossa meta nesses casos &eacute;
            fazer com que a sua experi&ecirc;ncia com o pitzaGJM seja mais conveniente e
            personalizada. Por exemplo, saber o seu primeiro nome nos permite
            dar boas-vindas a voc&ecirc; na pr&oacute;xima vez em que voc&ecirc; acessar. Conhecer
            seu pa&iacute;s e idioma nos permite viabilizar a voc&ecirc; uma experi&ecirc;ncia de
            compras personalizada e mais &uacute;til. Saber que algu&eacute;m usando o seu
            computador ou dispositivo adquiriu determinado produto ou usou um
            determinado servi&ccedil;o permite fazer com que sua publicidade e
            comunica&ccedil;&otilde;es de e-mail sejam mais relevantes para os seus
            interesses. <br/> 6.3 Se voc&ecirc; deseja bloquear os cookies,
            consulte as orienta&ccedil;&otilde;es do seu navegador. <br/> 6.4 Como ocorre
            na maioria dos sites, n&oacute;s obtemos algumas informa&ccedil;&otilde;es
            automaticamente e armazenamos em arquivos de log. Entre essas
            informa&ccedil;&otilde;es est&atilde;o endere&ccedil;os IP, tipo de navegador e idioma,
            provedor de servi&ccedil;os de Internet (ISP), p&aacute;ginas de consulta e
            sa&iacute;da, sistema operacional, informa&ccedil;&otilde;es sobre data e hor&aacute;rio e
            dados sobre a seq&uuml;&ecirc;ncia de cliques. <br/> 6.5 N&oacute;s usamos essas
            informa&ccedil;&otilde;es para entender e analisar tend&ecirc;ncias, administrar o
            site, aprender sobre o comportamento do usu&aacute;rio no site e obter
            informa&ccedil;&otilde;es demogr&aacute;ficas sobre a nossa base de usu&aacute;rios de maneira
            geral. O pitzaGJM poder&aacute; usar estas informa&ccedil;&otilde;es em nossos servi&ccedil;os de
            marketing e publicidade. <br/> 6.6 Em algumas de nossas mensagens
            de e-mail, n&oacute;s usamos uma &quot;URL click-through&quot; vinculada ao conte&uacute;do
            do site do pitzaGJM. Quando os clientes clicam em uma dessas URLs, os
            usu&aacute;rios s&atilde;o enviados para um servidor web diferente antes de
            chegarem &agrave; p&aacute;gina de destino no nosso site. N&oacute;s monitoramos esses
            dados de click-through para entender o interesse em determinados
            t&oacute;picos e avaliar a efic&aacute;cia das comunica&ccedil;&otilde;es com os nossos
            clientes. Se voc&ecirc; preferir n&atilde;o ser monitorado dessa maneira, n&atilde;o
            clique em texto nem nos links de imagens nas mensagens de e-mail. <br/>
            6.7 Os pixel tags nos permitem enviar mensagens de e-mail em
            formatos que os clientes possam ler e nos dizer se o e-mail foi
            aberto ou n&atilde;o. N&oacute;s podemos usar essas informa&ccedil;&otilde;es para reduzir ou
            eliminar as mensagens enviadas aos clientes. <br/> 6.8 A qualquer
            momento, caso n&atilde;o queira mais receber futuros contatos via e-mail
            formato newsletter, basta acessar o link de descadastramento no
            e-mail. <br/> <br/> 7. Pol&iacute;tica referente a dados coletados
            pelo Google <br/> 7.1 O pitzaGJM utiliza a Publicidade de
            Visualiza&ccedil;&atilde;o do Google, e implementa a funcionalidade de
            Remarketing para anunciar online. Desta forma, fornecedores
            terceiros, incluindo o Google, mostram os nossos an&uacute;ncios em
            Websites na Internet. <br/> 7.2 O pitzaGJM utiliza, assim como os
            fornecedores terceiros, incluindo o Google, cookies originais (como
            o cookie do Google Analytics) e cookies de terceiros (como o cookie
            DoubleClick) em conjunto para informar, otimizar e publicar
            an&uacute;ncios com base nas visitas passadas de algu&eacute;m ao seu Website. <br/>
            7.3 Os visitantes podem excluir a Publicidade de Visualiza&ccedil;&atilde;o do
            Google Analytics e personalizar an&uacute;ncios na Rede de Display da
            Google com o Gestor das Prefer&ecirc;ncias de An&uacute;ncios. Assim como podem
            tamb&eacute;m fazero download daextens&atilde;o do navegador para desativar o
            Google Analytics. <br/> <br/> 8. Pol&iacute;tica de rastreamento de
            an&uacute;ncios do Facebook <br/> 8.1 Temos o compromisso de proteger os
            usu&aacute;rios e seus dados. Para limitar os tipos de dados que podem ser
            obtidos sobre os usu&aacute;rios por meio das tecnologias de
            acompanhamento de an&uacute;ncios, e permitir ao mesmo tempo que os
            anunciantes obtenham as informa&ccedil;&otilde;es de campanha de que precisam,
            adotamos as inclus&otilde;es abaixo em nossas pol&iacute;ticas que regem os
            an&uacute;ncios no Facebook. <br/> 8.2 Os dados obtidos em consequ&ecirc;ncia
            da exibi&ccedil;&atilde;o de uma propaganda a um usu&aacute;rio (&quot;Dados de
            acompanhamento de impress&atilde;o&quot;) s&atilde;o permitidos somente em alguns
            produtos de propaganda, conforme estabelecido pelo Facebook. Os
            dados de rastreamento de impress&atilde;o n&atilde;o podem ser obtidos em
            qualquer produto de propaganda leiloado. <br/> 8.3 O fornecedor
            que obt&ecirc;m dados de rastreamento de impress&atilde;o (&quot;rastreador de
            an&uacute;ncios de terceiros&quot;) deve ser certificado pelo Facebook. Os
            rastreadores de an&uacute;ncios de terceiros n&atilde;o certificados pelo
            Facebook at&eacute; 1 de janeiro de 2011 n&atilde;o ser&atilde;o autorizados a
            implementar qualquer tecnologia que obtenha dados de rastreamento
            de impress&atilde;o, incluindo pixels ou marcas de rastreamento. <br/>
            8.4 Os dados obtidos em consequ&ecirc;ncia do clique em uma propaganda
            (&quot;dados de rastreamento de clique&quot;) por um usu&aacute;rio s&atilde;o permitidos
            na maioria dos produtos de propaganda. Os dados de rastreamento de
            clique podem ser obtidos por meio do uso de uma &uacute;nica URL de
            rastreamento fora do Facebook. Os dados de rastreamento de clique
            n&atilde;o incluem dados relacionados &agrave;s a&ccedil;&otilde;es paralelas do usu&aacute;rio, como
            clicar no bot&atilde;o Curtir, responder a um evento ou a uma enquete. <br/>
            <br/> 9. Divulga&ccedil;&atilde;o para terceiros <br/> 9.1 Usu&aacute;rios do pitzaGJM.
            Quando voc&ecirc; se inscreve no Servi&ccedil;o e submete informa&ccedil;&otilde;es pessoais
            para criar um perfil ou cole&ccedil;&atilde;o visual, outros usu&aacute;rios ver&atilde;o seu
            nome e foto. Se voc&ecirc; optou por fornecer informa&ccedil;&otilde;es pessoais
            adicionais em seu perfil, usu&aacute;rios do pitzaGJM ver&atilde;o tais informa&ccedil;&otilde;es
            adicionais, incluindo, mas n&atilde;o se limitando a, localiza&ccedil;&atilde;o, site e
            informa&ccedil;&otilde;es biogr&aacute;ficas. Fornecer informa&ccedil;&atilde;o adicional &eacute; opcional.
            N&oacute;s recomendamos que voc&ecirc; proteja e n&atilde;o divulgue qualquer
            informa&ccedil;&atilde;o que voc&ecirc; considere sens&iacute;vel ou confidencial. <br/> 9.2
            Prestadores de Servi&ccedil;o. N&oacute;s podemos utilizar empresas terceirizadas
            e indiv&iacute;duos para facilitar nosso Servi&ccedil;o, prover o Servi&ccedil;o em
            nosso nome, executar atividades relacionadas ao Servi&ccedil;o, incluindo,
            mas n&atilde;o se limitando a, manuten&ccedil;&atilde;o dos servi&ccedil;os, gerenciamento de
            banco de dados, an&aacute;lise de dados e melhoria de funcionalidades, ou
            nos auxiliar em analisar como o nosso Servi&ccedil;o &eacute; usado. Essas
            empresas ou indiv&iacute;duos t&ecirc;m acesso &agrave; sua informa&ccedil;&atilde;o pessoal apenas
            para executar tarefas em nosso favor e s&atilde;o obrigados a n&atilde;o usar ou
            divulgar tais informa&ccedil;&otilde;es para nenhuma outra finalidade. <br/>
            9.3 Servi&ccedil;os de Redes Sociais. N&oacute;s podemos divulgar informa&ccedil;&otilde;es de
            sua conta no pitzaGJM (incluindo informa&ccedil;&otilde;es pessoais) para o servi&ccedil;o
            de rede social ligado &agrave; sua conta pitzaGJM. N&oacute;s permitimos que os
            Usu&aacute;rios conectem suas contas de servi&ccedil;os de redes sociais aos
            nossos Servi&ccedil;os. Os usu&aacute;rios poder&atilde;o ent&atilde;o postar atividades
            recentes em nossos servi&ccedil;os de volta para suas contas de redes
            sociais. Se voc&ecirc; n&atilde;o quiser mais postar suas atividades em sua
            conta de rede social, poder&aacute; faz&ecirc;-lo a qualquer momento, alterando
            as suas prefer&ecirc;ncias. <br/> 9.4 Outros. O pitzaGJM poder&aacute; ser
            obrigado por lei, processo, lit&iacute;gio e/ou determina&ccedil;&otilde;es de
            autoridades p&uacute;blicas ou governamentais dentro ou fora do pa&iacute;s em
            que voc&ecirc; reside, a divulgar suas informa&ccedil;&otilde;es pessoais. N&oacute;s tamb&eacute;m
            poderemos divulgar informa&ccedil;&otilde;es sobre voc&ecirc; se entendermos que essa
            divulga&ccedil;&atilde;o tem por finalidade a seguran&ccedil;a nacional, exig&ecirc;ncia legal
            ou outros assuntos de import&acirc;ncia p&uacute;blica ou quando a divulga&ccedil;&atilde;o
            for necess&aacute;ria ou apropriada. N&oacute;s tamb&eacute;m poderemos divulgar
            informa&ccedil;&otilde;es sobre voc&ecirc; se n&oacute;s entendermos que a divulga&ccedil;&atilde;o &eacute;
            razoavelmente necess&aacute;ria para fazer valer nossos termos e condi&ccedil;&otilde;es
            ou proteger nossas opera&ccedil;&otilde;es ou usu&aacute;rios. Al&eacute;m disso, no caso de
            uma reestrutura&ccedil;&atilde;o, fus&atilde;o ou venda, poderemos transferir toda e
            qualquer informa&ccedil;&atilde;o pessoal que obtivermos ao terceiro aplic&aacute;vel. <br/>
            <br/> 10. Prote&ccedil;&atilde;o de Informa&ccedil;&otilde;es Pessoais <br/> 10.1 O pitzaGJM
            toma precau&ccedil;&otilde;es, entre elas medidas administrativas, t&eacute;cnicas e
            f&iacute;sicas, para proteger as suas informa&ccedil;&otilde;es pessoais contra perda,
            roubo, uso indevido, bem como contra acesso n&atilde;o autorizado,
            divulga&ccedil;&atilde;o, altera&ccedil;&atilde;o e destrui&ccedil;&atilde;o. <br/> <br/> 11. Integridade
            e Reten&ccedil;&atilde;o de Informa&ccedil;&otilde;es Pessoais <br/> 11.1 O pitzaGJM o ajuda a
            manter as suas informa&ccedil;&otilde;es pessoais precisas, completas e
            atualizadas. N&oacute;s reteremos suas informa&ccedil;&otilde;es pessoais pelo per&iacute;odo
            necess&aacute;rio para atender as finalidades apresentadas nesta Pol&iacute;tica
            de Privacidade, a menos que um per&iacute;odo maior de reten&ccedil;&atilde;o seja
            necess&aacute;rio ou permitido por lei. <br/> <br/> 12.
            Direcionamento a outros sites e servi&ccedil;os <br/> 12.1 Nossos
            Servi&ccedil;os cont&eacute;m links para outros websites e servi&ccedil;os online
            terceiros. Se voc&ecirc; escolher visitar outro website ou servi&ccedil;o online
            clicando em um link, voc&ecirc; ser&aacute; redirecionado para o website ou
            servi&ccedil;o online terceiro. O fato de direcionarmos para um website ou
            servi&ccedil;o online n&atilde;o &eacute; um endosso, autoriza&ccedil;&atilde;o ou representa&ccedil;&atilde;o
            de
            afilia&ccedil;&atilde;o a esse terceiro, nem &eacute; um endosso de suas pol&iacute;ticas ou
            pr&aacute;ticas de privacidade ou seguran&ccedil;a da informa&ccedil;&atilde;o. N&oacute;s n&atilde;o
            exercemos controle sobre websites e servi&ccedil;os online terceiros e o
            aconselhamos a ler as pol&iacute;ticas de privacidade e termos de uso
            antes de prover qualquer informa&ccedil;&atilde;o ou usar outros websites ou
            servi&ccedil;os. <br/> <br/> 13. Crian&ccedil;as <br/> 13.1 Esse servi&ccedil;o
            n&atilde;o &eacute; direcionado a crian&ccedil;as menores de 13 anos. N&oacute;s n&atilde;o obtemos
            intencionalmente informa&ccedil;&otilde;es pessoais de crian&ccedil;as menores de 13
            anos. Se tomarmos conhecimento de que obtivemos informa&ccedil;&otilde;es
            pessoais de uma crian&ccedil;a menor de 13 anos, tomaremos as medidas para
            excluir tais informa&ccedil;&otilde;es o mais breve poss&iacute;vel. <br/> <br/> 14.
            D&uacute;vidas sobre Privacidade <br/> 14.1 Se voc&ecirc; tiver algum
            questionamento ou d&uacute;vida com rela&ccedil;&atilde;o &agrave; Pol&iacute;tica de Privacidade do
            pitzaGJM ou qualquer pr&aacute;tica descrita aqui, entre em contato conosco
            no endere&ccedil;o Rua das pizaas, numero 7,
            Rio de Janeiro, Brasil, 00000-000, ou atrav&eacute;s do email
            contato@pitzaGJM.com.br. <br/> 14.2 O pitzaGJM poder&aacute; atualizar a sua
            Pol&iacute;tica de Privacidade periodicamente. Se fizermos alguma
            altera&ccedil;&atilde;o na pol&iacute;tica em termos materiais, colocaremos um aviso no
            nosso site, juntamente com a Pol&iacute;tica de Privacidade atualizada. <br/></br>
        </div>
    </div>
</div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row rodape">
        <div class="col-md-3">
          <h5>Contato</h5>
          <p class="ctt">contato@gjm.com</p>
          <p></p>
        </div>
        <div class="col-md-3">
          <h5>SAC</h5>
          <a href="ouvidoria.html">Ouvidoria</a><br>
        </div>
        <div class="col-md-3">
          <h5>Sobre nós</h5>
          <a href="termos.html">Termos de uso</a><br>
          <a href="privacidade.html">Privacidade</a>
        </div>
        <div class="col-md-3">
          <h5>Redes sociais</h5>
          <a href="https://www.facebook.com/" target="_blank"><img src="../../img/fb_icon.png" alt="browse não suporta"></a>&nbsp&nbsp<a href="https://www.twitter.com/" target="_blank"><img src="../../img/tt_icon.png" alt="browse não suporta"></a>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 rodape-nota">
          <hr align="center" width="90%" size="1" color=red>
          <p>©2017 Pitza GJM Ltd. All Rights Reserved.</p>
        </div>
      </div>
      </div>
  </body>
</html>
