<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pitiza GJM - Termos de Uso</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../../css/estilo.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <link rel="icon" href="../../img/icc.png" type="image/x-icon" />
  <link rel="shortcut icon" href="../../img/icc.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row topo">
      <div class="col-md-2 logo">
        <a href="index.html"><img src="../../img/logo.jpg" alt="Falha no carregamento"></a>
      </div>
      <div class="col-md-2">
      <h2>Pitza GJM</h2>
      </div>
      <div class="col-md-2 contato">
        <h2>Contato:</h2>
      </div>
      <div class="col-md-2 d">
      <strong>(21) <ins>3333-4444</ins>
      <p>(21) <ins>99999-9999</ins></p></strong>
      </div>
      <div class="col-md-4">
      <strong>Rua das pizzas, numero 7, Campo Grande.</strong>
      <p>Rio de janeiro, Brasil.</p>
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row menu">
        <div class="col-md-4">
          <ul>
            <li><a href="cadastrar.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row corpo">
        <div class="col-md-12">
          <div class="main shell">
    <div class="institucional terms-custom">
        <h2 class="terms-conditions">Termos e Condi&ccedil;&otilde;es</h2>
        <div class="full">
            <p class="terms-intro">
    Por favor, leia com aten&ccedil;&atilde;o os termos e condi&ccedil;&otilde;es. <br /> Ao se
    cadastrar no www.pitzagjm.com.br voc&ecirc; EST&Aacute; DE ACORDO COM AS CONDI&Ccedil;&Otilde;ES E
    TERMOS do Website. Note que a recusa destes Termos do Website
    impedir&aacute; que voc&ecirc; fa&ccedil;a pedidos de produtos do nosso Website.
</p>
<br />
<p class="fix-terms-text">1. SERVI&Ccedil;OS OFERECIDOS</p>
<span class="fix-terms-subtext">1.1</span> Este TERMO se aplica para
regular o uso do servi&ccedil;o oferecido pelo <a
    href=www.pitzagjm.com.br>www.pitzagjm.com.br</a> aos USU&Aacute;RIOS, qual
seja, possibilitar a escolha, pelos USU&Aacute;RIOS, de RESTAURANTES
cadastrados e, via on-line, efetivar solicita&ccedil;&otilde;es para aquisi&ccedil;&atilde;o (e
entrega em domic&iacute;lio e retirada no local) de g&ecirc;neros aliment&iacute;cios
fornecidos pelos RESTAURANTES, de acordo com o card&aacute;pio
disponibilizado, sendo poss&iacute;vel, igualmente, aos USU&Aacute;RIOS, a
efetiva&ccedil;&atilde;o do pagamento do pre&ccedil;o dos produtos via on-line. <br />
<span class="fix-terms-subtext">1.2</span>
O servi&ccedil;o do <a href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>
consiste, portanto, em aproximar, atrav&eacute;s do nosso site, os USU&Aacute;RIOS
e os RESTAURANTES cadastrados, possibilitando que os USU&Aacute;RIOS
encaminhem, aos RESTAURANTES, pedidos de entrega de g&ecirc;neros
aliment&iacute;cios, bem como, sendo essa a op&ccedil;&atilde;o dos USU&Aacute;RIOS, receber
on-line pagamento do pre&ccedil;o dos produtos entregues aos USU&Aacute;RIOS pelos
RESTAURANTES. <br />
<span class="fix-terms-subtext">1.3</span> Desde logo fica esclarecido ao USU&Aacute;RIO - o
qual se declara ciente - que o servi&ccedil;o oferecido pelo <a
    href=www.pitzagjm.com.br>www.pitzagjm.com.br</a> se relaciona apenas
&agrave; 'intermedia&ccedil;&atilde;o (com op&ccedil;&atilde;o de pagamento on-line) para
comercializa&ccedil;&atilde;o de produtos aliment&iacute;cios, n&atilde;o abarcando preparo,
embalagem, disponibiliza&ccedil;&atilde;o e entrega f&iacute;sica (via motoboy ou outros
meios) dos produtos, sendo esses quatro itens de responsabilidade
integral do RESTAURANTE, a quem dever&atilde;o ser direcionados quaisquer
reclamos acerca de problemas decorrentes de v&iacute;cio, defeito ou
inexecu&ccedil;&atilde;o da feitura, preparo e entrega de produtos aliment&iacute;cios. <br />
<br />
<p class="fix-terms-text">2. CADASTRO</p>
<span class="fix-terms-subtext">2.1</span> O USU&Aacute;RIO, para utilizar os servi&ccedil;os
acima descritos, dever&aacute; ter capacidade jur&iacute;dica para atos civis e
dever&aacute;, necessariamente, prestar as informa&ccedil;&otilde;es exigidas no CADASTRO,
assumindo integralmente a responsabilidade (inclusive c&iacute;vel e
criminal) pela exatid&atilde;o e veracidade das informa&ccedil;&otilde;es fornecidas no
CADASTRO, que poder&aacute; ser verificado, a qualquer momento, pelo <a
    href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>. <br />
<span class="fix-terms-subtext">2.1.1</span> Em
caso de informa&ccedil;&otilde;es incorretas, inver&iacute;dicas ou n&atilde;o confirmadas, bem
assim na hip&oacute;tese da negativa em corrigi-las ou enviar documenta&ccedil;&atilde;o
que comprove a corre&ccedil;&atilde;o, o iFood Delivery se reserva o direito de n&atilde;o
concluir o cadastramento em curso ou, ainda, de bloquear o cadastro
j&aacute; existente, impedindo o USU&Aacute;RIO de utilizar os servi&ccedil;os on-line at&eacute;
que, a crit&eacute;rio do <a href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>,
a situa&ccedil;&atilde;o de anomalia esteja regularizada. O www.pitzagjm.com.br se reserva
o direito de impedir, a seu crit&eacute;rio, novos CADASTROS, ou cancelar os
j&aacute; efetuados, em caso de ser detectada anomalia que, em sua an&aacute;lise,
seja revestida de gravidade ou demonstre tentativa deliberada de
burlar as regras aqui descritas, obrigat&oacute;rias para todos os USU&Aacute;RIOS.
Tamb&eacute;m agir&aacute; o <a href=www.pitzagjm.com.br>www.pitzagjm.com.br</a> de
tal forma caso verifique descumprimento, pelo USU&Aacute;RIO, de qualquer
obriga&ccedil;&atilde;o prevista no presente TERMO. <br />
<span class="fix-terms-subtext">2.2</span> Efetuado, com
sucesso, o CADASTRO, o USU&Aacute;RIO ter&aacute; acesso aos servi&ccedil;os por meio de
login e senha, dados esses que se compromete a n&atilde;o divulgar a
terceiros, ficando sob sua exclusiva responsabilidade qualquer
solicita&ccedil;&atilde;o de servi&ccedil;o que seja feita com o uso de login e senha de
sua titularidade. <br />
<br />
<p class="fix-terms-text">3. OBRIGA&Ccedil;&Otilde;ES DO USU&Aacute;RIO</p>
<span class="fix-terms-subtext">3.1</span> Efetuado com sucesso o
CADASTRO do USU&Aacute;RIO, este se obriga a n&atilde;o divulgar a terceiros login
e senha de acesso, nem permitir o uso de tais informa&ccedil;&otilde;es por
terceiros, responsabilizando-se pelas consequ&ecirc;ncias do uso de login e
senha de sua titularidade. <br />
<span class="fix-terms-subtext">3.2</span> &Eacute; obriga&ccedil;&atilde;o do USU&Aacute;RIO fornecer
informa&ccedil;&otilde;es cadastrais totalmente ver&iacute;dicas e exatas,
responsabilizando-se exclusiva e integralmente (em todas as searas
jur&iacute;dicas) por todo o conte&uacute;do por si informado no item CADASTRO,
mantendo atualizado e confirmado o endere&ccedil;o para entrega dos produtos
encomendados. <br />
<span class="fix-terms-subtext">3.3</span> O USU&Aacute;RIO se obriga, tamb&eacute;m, a pagar
integralmente o pre&ccedil;o dos produtos por si solicitados ou encomendados
ao RESTAURANTE e efetivamente a si entregues, seja pela modalidade
on-line, seja por qualquer outra forma, diretamente ao portador dos
produtos encomendados por meio deste site (dinheiro, cheque, tickets,
etc.). <br />
<span class="fix-terms-subtext">3.4</span> O USU&Aacute;RIO que seja menor de 18 anos de idade est&aacute;
ciente de que n&atilde;o poder&aacute; encomendar e adquirir, em qualquer hip&oacute;tese,
produtos alco&oacute;licos, responsabilizando-se pela correta informa&ccedil;&atilde;o de
sua idade no item CADASTRO. <br />
<span class="fix-terms-subtext">3.5</span> O USU&Aacute;RIO concorda com o uso das informa&ccedil;&otilde;es de
avalia&ccedil;&otilde;es e feedbacks do servi&ccedil;os dos RESTAURANTES e do iFood, conforme descrito nos TERMOS DE PRIVACIDADE do iFood.<br />
<br />
<p class="fix-terms-text">
    4. OBRIGA&Ccedil;&Otilde;ES DO <a href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>
</p>
<span class="fix-terms-subtext">4.1</span> Disponibilizar no site <a
    href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>
espa&ccedil;o virtual que permita ao USU&Aacute;RIO devidamente cadastrado efetivar
pedidos de compra de g&ecirc;neros aliment&iacute;cios anunciados e
comercializados pelos RESTAURANTES e, tamb&eacute;m, disponibilizar ao
USU&Aacute;RIO meios de pagamento do pre&ccedil;o dos produtos on-line. <br />
<span class="fix-terms-subtext">4.2</span>
Proteger, por meio de armazenamento em servidores ou quaisquer outros
meios magn&eacute;ticos de alta seguran&ccedil;a, a confidencialidade de todas as
informa&ccedil;&otilde;es e cadastros relativos aos USU&Aacute;RIOS, assim como valores
atinentes &agrave;s opera&ccedil;&otilde;es financeiras advindas da operacionaliza&ccedil;&atilde;o dos
servi&ccedil;os previstos no presente TERMO. Contudo, n&atilde;o responder&aacute; pela
repara&ccedil;&atilde;o de preju&iacute;zos que possam ser derivados de apreens&atilde;o e
coopta&ccedil;&atilde;o de dados por parte de terceiros que, rompendo os sistemas
de seguran&ccedil;a, consigam acessar essas informa&ccedil;&otilde;es. <br />
<br />
<p class="fix-terms-text">5. MODIFICA&Ccedil;&Otilde;ES DESTE TERMO</p>
<span class="fix-terms-subtext">5.1</span> O presente TERMO DE USO
poder&aacute;, a qualquer tempo, ter seu conte&uacute;do, ou parte dele,
modificados para adequa&ccedil;&otilde;es e inser&ccedil;&otilde;es, tudo com vistas ao
aprimoramento dos servi&ccedil;os disponibilizados. <br />
<span class="fix-terms-subtext">5.2</span> As novas
condi&ccedil;&otilde;es entrar&atilde;o em vig&ecirc;ncia assim que sua veiculada no site, sendo
poss&iacute;vel ao USU&Aacute;RIO manifestar oposi&ccedil;&atilde;o a quaisquer dos termos
modificados, desde que o fa&ccedil;a por escrito, atrav&eacute;s do site <a
    href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>, o que gerar&aacute; o
cancelamento de seu CADASTRO. <br />
<br />
<p class="fix-terms-text">6. CANAL DE COMUNICA&Ccedil;&Atilde;O</p>
<span class="fix-terms-subtext">6.1</span> Para estabelecer contato
entre <a href=www.pitzagjm.com.br>www.pitzagjm.com.br</a> e o USU&Aacute;RIO
fica disponibilizado o endere&ccedil;o eletr&ocirc;nico deste link, sendo certo
que o USU&Aacute;RIO se obriga, igualmente, a manter em seu cadastro
endere&ccedil;o eletr&ocirc;nico atual por interm&eacute;dio do qual se far&atilde;o as
comunica&ccedil;&otilde;es a ele dirigidas pelo <a
    href=www.pitzagjm.com.br>www.pitzagjm.com.br</a>,
desde logo emprestando-se validade jur&iacute;dica e efetividade a esse meio
eletr&ocirc;nico de troca de informa&ccedil;&otilde;es rec&iacute;procas. <br />
<br />
<p class="fix-terms-text">7. ACEITA&Ccedil;&Atilde;O DO TERMO DE USO</p>
<span class="fix-terms-subtext">7.1</span> O USU&Aacute;RIO declara ter
lido, entendido e que aceita todas as regras, condi&ccedil;&otilde;es e obriga&ccedil;&otilde;es
estabelecidas no presente TERMO.
<br/>
<br/></div>
      </div>
      </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row rodape">
        <div class="col-md-3">
          <h5>Contato</h5>
          <p class="ctt">contato@gjm.com</p>
          <p></p>
        </div>
        <div class="col-md-3">
          <h5>SAC</h5>
          <a href="ouvidoria.html">Ouvidoria</a><br>
        </div>
        <div class="col-md-3">
          <h5>Sobre nós</h5>
          <a href="termos.html">Termos de uso</a><br>
          <a href="privacidade.html">Privacidade</a>
        </div>
        <div class="col-md-3">
          <h5>Redes sociais</h5>
          <a href="https://www.facebook.com/" target="_blank"><img src="../../img/fb_icon.png" alt="browse não suporta"></a>&nbsp&nbsp<a href="https://www.twitter.com/" target="_blank"><img src="../../img/tt_icon.png" alt="browse não suporta"></a>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 rodape-nota">
          <hr align="center" width="90%" size="1" color=red>
          <p>©2017 Pitza GJM Ltd. All Rights Reserved.</p>
        </div>
      </div>
      </div>
  </body>
</html>
